
html
  head
    meta charset="UTF-8"
    link(rel="icon" href="/adventure/static/favicon-192x192.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="manifest" href="/adventure/static/manifest.json")

    script.
      const VAPID_PUBLIC_KEY = '#{vapidPublicKey}';

    script(src="/client.js")

  body
    h1 Minimal Web Push Example

    a(href="#" id="promptLink" onclick="onPromptClick()") Enable notifications
